name: Build Docker image on main

on:
  push:
    branches:
      - main

jobs:
  build-docker:
    name: Build Docker image from docker-compose
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: beecave-homelab
          password: ${{ secrets.GHCR_PAT }}

      - name: Build and push images with docker compose
        run: |
          docker compose -f docker-compose.yaml build
          docker compose -f docker-compose.yaml push
